.box1{
  display: flex;
  flex-direction:row-reverse;
  max-height: 400px;
  background: white;
  max-width: 1400px;
  width: 100%;
}
.box2{
  display: flex;
  flex-direction:row;
  max-height: 400px;
  background: white;
  max-width: 1400px;
  width: 100%;

}
.text-margin{
  padding: 5% 4%;
}
.showcase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  h1{
    margin-bottom: 10px;
  }
  p{
    color: gray;
  }
}
.showcasephoto{
  overflow: hidden;
  img{
    width: 100%;
    object-fit: cover;
  }
}
